@charset "UTF-8";
@font-face {
  font-family: roboto;
  src: url(../sass/ressources/font/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: robotobold;
  src: url(../sass/ressources/font/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: title;
  src: url(../sass/ressources/font/Shrikhand-Regular.ttf);
}
body {
  width: 100%;
  margin: 0px;
}

html {
  width: 100%;
}

h2 {
  font-family: title, "Times New Roman", Times, serif;
}

p, h3 {
  font-family: roboto, "Times New Roman", Times, serif;
}

/* body de l'index : menu de selection "fonctionnement", menu "restaurants", menu présentation */
/* " Explorez nos restaurant INDEX */
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  flex-direction: column;
}
.menu a {
  font-family: roboto, "Times New Roman", Times, serif;
  text-decoration: none;
  color: white;
  height: 150px;
}
.menu__element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #eaeaea;
  width: 100%;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: roboto, "Times New Roman", Times, serif;
  color: #353535;
}
.menu i {
  padding-right: 15px;
  padding-bottom: 5px;
}
.menu__card {
  text-align: center;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .btn {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 35px;
  align-self: center;
  max-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  margin-bottom: 45px;
  margin-top: 50px;
}
.menu h1, .menu p {
  font-family: roboto, "Times New Roman", Times, serif;
}

.block a {
  box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.36);
}

/* modif fichier */
/* modif fichier 2 */
/* Menu Fonctionnement INDEX*/
.working {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.working h2 {
  font-family: roboto, "Times New Roman", Times, serif;
  margin-left: 5%;
  font-size: 22px;
  min-width: 100%;
  align-self: flex-start;
}
.working__block {
  width: 280px;
  margin-left: 5px;
  margin-right: 5px;
}
.working__block {
  font-family: roboto, "Times New Roman", Times, serif;
  font-size: 14px;
  margin: auto;
  width: 330px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.working a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.working__txt {
  margin-left: 12%;
  min-width: 180px;
  color: black;
}
.working__icon {
  padding-left: 10px;
  padding-right: 10px;
  color: #7e7e7e;
  margin-left: 2%;
}
.working__item {
  border: 1px solid #9356dc;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  position: relative;
  right: 12px;
}

/* MQ menu fonctionnement */
@media screen and (min-width: 880px) {
  .working {
    display: flex;
    position: relative;
  }
  .working nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .working h2 {
    min-width: 72%;
    position: relative;
    left: -8%;
  }
  .working__block {
    width: 260px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .working__item {
    height: 10px;
    width: 25px;
    padding: 8px;
  }
}
/* Listes de restaurants INDEX*/
.container__all {
  margin: 20px 30px 50px 30px;
}

body {
  background-color: #f6f6f6;
}

.block {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 32px;
  row-gap: 32px;
  border-radius: 16px;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
}
.block__subtitle {
  font-family: roboto, "Times New Roman", Times, serif;
}
@media (min-width: 1024px) {
  .block {
    grid-template-columns: repeat(2, 1fr);
  }
  .block .block__card {
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;
    border-radius: 15px;
  }
  .block .block__card p {
    margin: 0;
    font-family: roboto, "Times New Roman", Times, serif;
  }
  .block .block__card__footer {
    bottom: 35px;
  }
  .block a {
    background-color: white;
    border-radius: 15px;
  }
}
.block__img {
  max-height: 200px;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 15px 15px 0 0;
  box-shadow: none;
  object-fit: cover;
}
.block__item {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 12px;
  font-family: roboto, times, serif;
}
.block__item--first {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  top: 16px;
  right: 704px;
}
.block__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.block__content {
  flex: 1;
}
.block__title {
  margin: 0;
  margin-bottom: 4px;
}
.block__subtitle {
  margin: 0;
}
.block__btn {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block__like {
  background-color: white !important;
}
.block a {
  background-color: white;
  border-radius: 15px;
}

.restaurants__title {
  font-size: 23px;
}

.menu__like--regular {
  position: relative;
  left: 0px;
  top: 20px;
}
.menu__like--solid {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  opacity: 0;
  transition: all 500ms ease-in-out;
  -webkit-background-clip: text;
  position: relative;
  bottom: 17px;
}

.menu:hover .fas {
  opacity: 1;
  z-index: 1;
  transform: scale(1.1);
}

/* Body secondary-page : baneer pic, menus des restaurants (entrees,plats,desserts)*/
.main__like--full {
  position: relative;
  right: 36px;
  opacity: 0;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  transition: transform 500ms, opacity 600ms;
}
.main__heart:hover .main__like--full {
  opacity: 1;
  transform: scale(1.2);
}
.main img {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
}
.main__all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__container {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top-right-radius: 25px;
  background-color: #f6f6f6;
  bottom: 50px;
  border-top-left-radius: 25px;
}
.main__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 100px;
  align-items: center;
}
.main__block {
  max-width: 100%;
  overflow: hidden;
  padding: 0 16px;
}
.main__title {
  text-transform: uppercase;
  border-bottom: green solid 3px;
  width: 20px;
  text-align: left;
}
.main .maincard {
  background-color: white;
  padding: 16px;
  display: flex;
  border-radius: 12px;
  margin: 16px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
  justify-content: space-between;
}
.main .maincard__txt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main .maincard__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: robotobold, "Times New Roman", Times, serif;
}
.main .maincard__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main .maincard__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 70px;
  padding-right: 30px;
  font-family: robotobold, "Times New Roman", Times, serif;
}
@media screen and (max-width: 1024px) {
  .main .maincard .maincard__price {
    position: relative;
    left: 28%;
  }
}
.main .maincard__checked {
  background-color: #99e2d0;
  margin: -16px -96px -16px 16px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.main .maincard__Icon {
  height: 25.6px;
  width: 25.6px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(0deg);
  transition-duration: 0.5s;
}
.main .maincard__icon {
  color: #99e2d0;
  transition: transform 500ms;
  transform: rotate(210deg);
}

.maincard:hover .maincard__checked {
  margin-right: -17px;
}

.maincard:hover .maincard__Icon {
  transform: rotate(150deg);
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 1024px) {
  .main__all {
    display: flex;
    flex-direction: column;
  }
}
.btn {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 35px;
  align-self: center;
  max-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  margin-bottom: 45px;
  margin-top: 50px;
  text-align: center;
  height: 30px;
}

.delay-1 {
  animation-delay: 0.4s;
}

.delay-2 {
  animation-delay: 0.8s;
}

.delay-3 {
  animation-delay: 1.6s;
}

.btn:hover {
  box-shadow: 10px 0px 15px 5px rgba(255, 121, 218, 0.5), 0px 10px 15px 5px rgba(147, 86, 220, 0.5);
  border: rgba(255, 255, 255, 0.5) 1.6px solid;
}

/* Header index */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header img {
  width: 170px;
  height: 35px;
  margin-bottom: 18px;
  margin-top: 10px;
}

/* Header page secondaire */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header i {
  align-items: flex-start;
  font-size: 20px;
  margin-left: 20px;
  color: black;
}
header img {
  width: 170px;
  height: 35px;
  margin-bottom: 18px;
  margin-top: 10px;
}
header__logo {
  align-self: center;
  width: 170px;
  height: 35px;
  margin-bottom: 18px;
  margin-top: 10px;
}

/* footer index */
.footer {
  width: auto;
  height: 230px;
  margin-bottom: 0;
  background-color: #353535;
  color: white;
  padding-left: 8%;
  font-family: roboto, "Times New Roman", Times, serif;
  line-height: 10px;
}
.footer__p {
  margin-bottom: 0;
}
.footer img {
  max-width: 100px;
  max-height: 50px;
  filter: brightness(2000%);
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: cover;
}
.footer__item {
  display: flex;
  flex-direction: row;
}
.footer i {
  padding-top: 11px;
  padding-right: 10px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer__lasttxt {
  padding-bottom: 30px;
  padding-top: 5px;
}
.footer__txt {
  margin-left: 0px;
}
.footer__txt2 {
  margin-left: 5px;
}

/* footer page restaurants */
.heartpage {
  position: relative;
  left: 187px;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
