@charset "UTF-8";
@font-face {
  font-family: roboto;
  src: url(../ressources/font/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: robotobold;
  src: url(../ressources/font/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: title;
  src: url(../ressources/font/Shrikhand-Regular.ttf);
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
body {
  width: 100%;
  margin: 0px;
}

html {
  width: 100%;
}

p {
  font-family: roboto, "Times New Roman", Times, serif;
}

/* body de l'index : menu de selection "fonctionnement", menu "restaurants", menu présentation */
/* " Explorez nos restaurant INDEX */
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  flex-direction: column;
}
.menu a {
  font-family: roboto, "Times New Roman", Times, serif;
  text-decoration: none;
  color: white;
  height: 150px;
}
.menu__element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #eaeaea;
  width: 100%;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: roboto, "Times New Roman", Times, serif;
  color: #353535;
}
.menu i {
  padding-right: 15px;
  padding-bottom: 5px;
}
.menu__card {
  text-align: center;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .btn {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 35px;
  align-self: center;
  max-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  margin-bottom: 45px;
  margin-top: 50px;
}
.menu h1, .menu p {
  font-family: roboto, "Times New Roman", Times, serif;
}

/* Menu Fonctionnement INDEX*/
.working {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.working h2 {
  font-family: roboto, "Times New Roman", Times, serif;
  margin-left: 5%;
  font-size: 22px;
  min-width: 100%;
  align-self: flex-start;
}
.working__block {
  width: 280px;
  margin-left: 5px;
  margin-right: 5px;
}
.working__block {
  font-family: roboto, "Times New Roman", Times, serif;
  font-size: 14px;
  margin: auto;
  width: 330px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.working a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.working__txt {
  margin-left: 12%;
  min-width: 180px;
  color: black;
}
.working__icon {
  padding-left: 10px;
  padding-right: 10px;
  color: #7e7e7e;
  margin-left: 2%;
}
.working__item {
  border: 1px solid #9356dc;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  position: relative;
  right: 12px;
}

/* MQ menu fonctionnement */
@media screen and (min-width: 880px) {
  .working {
    display: flex;
    position: relative;
  }
  .working nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .working h2 {
    min-width: 100%;
    position: relative;
    left: 8%;
  }
  .working__block {
    width: 260px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .working__item {
    height: 10px;
    width: 25px;
    padding: 8px;
  }
}
/* Listes de restaurants INDEX*/
.container {
  height: 1300px;
  min-width: 100%;
  background-color: #f6f6f6;
  display: block;
  flex-direction: column;
  margin-top: 50px;
  position: relative;
}
.container__all {
  width: fit-content;
  margin: auto;
  width: 90%;
}
.container a {
  cursor: pointer;
}
.container__title {
  padding-top: 30px;
  display: flex;
  font-family: roboto, "Times New Roman", Times, serif;
  width: 100%;
}
.container img {
  object-fit: cover;
  height: 12rem;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.container__block {
  background-color: white;
  font-family: roboto, "Times New Roman", Times, serif;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
}
.container h2 {
  width: 100%;
  min-width: 100%;
}
.container__txt {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  height: 70px;
}
.container i {
  margin-right: 5%;
  font-size: 1.5rem;
}
.container .fa-hearth, .container .fa-solid, .container__hearth {
  color: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
}
.container__element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 0px;
  height: 70px;
}
.container__item {
  position: relative;
  bottom: 190px;
  left: 245px;
  background-color: #99e2d0;
  color: #139273;
  width: 57px;
  padding: 10px;
  font-size: 14px;
}

/* media querries index */
@media screen and (min-width: 700px) {
  .container {
    height: auto;
  }
  .container__all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  .container h2 {
    min-width: fit-content;
    position: relative;
    left: 2%;
  }
  .container__title {
    min-width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container__block {
    max-width: 46%;
  }
}
/* Body secondary-page : baneer pic, menus des restaurants (entrees,plats,desserts)*/
.main {
  position: relative;
  margin-bottom: -40px;
}
.main img {
  width: 100%;
  height: 250px;
  margin-left: 0px;
  margin-right: 0px;
  object-fit: cover;
}
.main__title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 15%;
}
.main__title .fa-solid, .main__title .fa-heart {
  font-size: 23px;
}
.main i {
  padding-left: 23px;
  margin-right: 15%;
}
.main__container {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  bottom: 38px;
  background-color: #f6f6f6;
  border-top: 1px #f6f6f6 solid;
  padding-bottom: 50px;
  height: auto;
}
.main__block {
  margin-left: 5px;
}
.main h3 {
  border-bottom: #99E2D0 solid 3px;
  width: 40px;
  padding-bottom: 8px;
  font-family: roboto, "Times New Roman", Times, serif;
  margin-left: 10px;
}
.main__value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__bold {
  font-weight: bold;
}
.main__element {
  background-color: white;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  padding: 10px;
  animation: appear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
}
.main p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: roboto, "Times New Roman", Times, serif;
}
.main .btn {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 35px;
  align-self: center;
  max-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  margin-bottom: 45px;
  margin-top: 50px;
}
.main a {
  cursor: pointer;
}
.main h2 {
  font-family: title, "Times New Roman", Times, serif;
  letter-spacing: 0.7px;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

@media screen and (min-width: 1110px) {
  .main {
    position: relative;
  }
  .main__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main h2 {
    position: relative;
    padding-right: 50%;
  }
  .main__title {
    min-width: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__element {
    padding: 15px;
    width: 320px;
    margin-bottom: 20p;
    margin-top: 30px;
  }
  .main__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;
  }
  s .main__block {
    margin-left: 5px;
    margin-right: 5px;
  }
  .main__price {
    margin-left: 0;
  }
}
.btn:hover {
  box-shadow: 10px 0px 15px 5px rgba(255, 121, 218, 0.5), 0px 10px 15px 5px rgba(147, 86, 220, 0.5);
  border: rgba(255, 255, 255, 0.5) 0.01rem solid;
}

/* Header index */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header img {
  width: 170px;
  height: 35px;
  margin-bottom: 18px;
  margin-top: 10px;
}

/* Header page secondaire */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header i {
  align-items: flex-start;
  font-size: 20px;
  margin-left: 20px;
  color: black;
}
header img {
  width: 170px;
  height: 35px;
  margin-bottom: 18px;
  margin-top: 10px;
}
header__logo {
  align-self: center;
  width: 170px;
  height: 35px;
  margin-bottom: 18px;
  margin-top: 10px;
}

/* footer index */
.footer {
  width: auto;
  height: 230px;
  margin-bottom: 0;
  background-color: #353535;
  color: white;
  padding-left: 8%;
  font-family: roboto, "Times New Roman", Times, serif;
  line-height: 10px;
}
.footer__p {
  margin-bottom: 0;
}
.footer img {
  max-width: 100px;
  max-height: 50px;
  filter: brightness(2000%);
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: cover;
}
.footer__item {
  display: flex;
  flex-direction: row;
}
.footer i {
  padding-top: 11px;
  padding-right: 10px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer__lasttxt {
  padding-bottom: 30px;
  padding-top: 5px;
}
.footer__txt {
  margin-left: 0px;
}
.footer__txt2 {
  margin-left: 5px;
}

/* footer page restaurants */
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
