
body{
    width:100%;
    margin:0px;
}


html{
    width:100%;
}

h2{
    font-family:title, 'Times New Roman', Times, serif;
}


p, h3{
    font-family: roboto,'Times New Roman', Times, serif;
}
/* body de l'index : menu de selection "fonctionnement", menu "restaurants", menu présentation */

/* " Explorez nos restaurant INDEX */
.menu{
    width:100%;
    @include flex_center;
    background-color:#f6f6f6;
    flex-direction:column;
        a{
            font-family: roboto, "Times New Roman", Times, serif;
            text-decoration: none;
            color: white;
            height:150px;
        }
        &__element{
            @include flex_center;
            flex-direction:row;
            background-color:#eaeaea;
            width:100%;
            box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
            padding-top:5px;
            padding-bottom:5px;
            font-family: roboto,'Times New Roman', Times, serif;
            color:#353535;
        }
        i{
            padding-right:15px;
            padding-bottom:5px;
        }
        &__card{
            text-align:center;
            max-width:60%;
            @include flex_center;
            flex-direction:column;
            
        }
        .btn{
        @include button;
        }
        h1, p{
            font-family:roboto,'Times New Roman', Times, serif;
        }
}

.block a{
    box-shadow:1px 5px 15px 0px rgba(0,0,0,0.36);
}

/* modif fichier */
/* modif fichier 2 */

/* Menu Fonctionnement INDEX*/

.working{

    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:white;

    & h2{
        font-family:roboto, 'Times New Roman', Times, serif;
        margin-left:5%;
        font-size:22px;
        min-width:100%;
        align-self:flex-start
    }

    &__block{
        width:280px;
        margin-left:5px;
        margin-right:5px;
        
    }

    &__block{
        font-family:roboto,'Times New Roman', Times, serif;
        font-size:14px;
        margin:auto;
        width:330px;
        display:flex;
        flex-direction:row;
        align-items:center;
        background-color:#f2f2f2;
        margin-bottom:20px;
        padding-top:15px;
        padding-bottom:15px;
        border-radius:20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    & a{
        display:flex;
        flex-direction:row;
        text-decoration:none;
    }

    &__txt{
        margin-left:12%;
        min-width:180px;
        color:black;
    }

    &__icon{
        padding-left:10px;
        padding-right:10px;
        color:#7e7e7e;
        margin-left:2%
    }


    &__item{
        border:1px solid #9356dc;
        height:25px;
        width:25px;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius:50%;
        background-color:#9356dc;
        color:white;
        position:relative;
        right:12px;
            
    }
}

/* MQ menu fonctionnement */

@media screen and (min-width:880px){
    .working{
        display:flex;
        position:relative;
        nav{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        }
        h2{
            min-width:72%;
            position:relative;
            left:-8%;
        }
        &__block{
            width:260px;
            margin-left:15px;
            margin-right:15px;
        }
        &__item{
            height:10px;
            width:25px;
            padding:8px;
        }
    }
}
/* Listes de restaurants INDEX*/
.container__all{
    margin: 20px 30px 50px 30px;
}
body{
    background-color:#f6f6f6;
}

.block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap:32px;
    row-gap: 32px;
    border-radius: 16px;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin-bottom:20px;

    &__subtitle{
        font-family:roboto,'Times New Roman', Times, serif;
    }
  
    @media (min-width:1024px) {
      grid-template-columns: repeat(2, 1fr);
      .block__card{
          display:flex;
          flex-direction:column;
          margin-bottom:-10px;
          border-radius:15px;
          
          p{
              margin:0;
              font-family:roboto, 'Times New Roman', Times, serif;
          }
          &__footer{
              bottom:35px;
          }
      }
      a{
          background-color:white;
          border-radius:15px;
         
      }
    }

  
    &__img {
      max-height:200px;
      width: 100%;
      border: transparent solid 0px;
      border-radius: 15px 15px 0 0;
      box-shadow: none;
      object-fit: cover;
    }
  
    &__item {
      background-color: #99e2d0;
      color: darken(#99e2d0, 50%);
      padding: 8px;
      border-radius: 2px;
      position: absolute;
      top: 16px;
      right: 12px;
      font-family:roboto, times, serif;

        &--first{
            
            background-color: #99e2d0;
            color: darken(#99e2d0, 50%);
            padding: 8px;
            border-radius: 5px;
            position: absolute;
            top:16px;
            right: 704px;
        }
    }
  
    &__footer {
      padding: 1rem;
      position: relative;
      display: flex;
      align-items: center;
    }
  
    &__content {
      flex: 1;
    }
  
    &__title {
      margin: 0;
      margin-bottom: 4px;
    }
  
    &__subtitle {
      margin: 0;
    }
  
    &__btn {
      height: 32px;
      width: 32px;
      background-color: transparent;
      border: transparent 0px solid;
      padding: 0;
      display:flex;
      align-items:center;
      justify-content:center;
    }
  
    &__like {
      background-color: white!important;
    }
    a{
        background-color:white;
        border-radius:15px;
    }

}

.restaurants__title{
    font-size:23px;
}



.menu{
    &__like{
        &--regular{
            position:relative;
            left:0px;
            top:20px;
        }
        &--solid{
            color:transparent;
            background-clip:text;
            background-image: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
            opacity:0;
            transition:all 500ms ease-in-out;
            -webkit-background-clip: text;
            position:relative;
            bottom:17px;
         
        }
    }
}

.menu:hover .fas{
    opacity:1;
    z-index: 1;
    transform:scale(1.1);
}

/* Body secondary-page : baneer pic, menus des restaurants (entrees,plats,desserts)*/
.main {

    &__like{
        &--full{
            position:relative;
            right:36px;
            opacity:0;
            color:transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image:$gradient-color;
            transition:transform 500ms, opacity 600ms;
        }
    }
    &__heart:hover .main__like--full{
        opacity:1;
        transform:scale(1.2)
    }
    
    img{
        width:100%;
        max-height:700px;
        object-fit:cover;
    }

  &__all{
      display:flex;
      flex-direction:row;
      justify-content:space-between;
  }

  &__container{
    display: flex;
    flex-direction: column;
    position: relative;
    border-top-right-radius: 25px;
    background-color: #f6f6f6;
    bottom: 50px;
    border-top-left-radius: 25px;
  }
  &__header{
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      margin: 0 100px;
      align-items:center;
    }
    
  
   &__block {
    max-width: 100%;
    overflow: hidden;
    padding: 0 16px;
    
   }
  
    &__title {
    text-transform: uppercase;
    border-bottom:green solid 3px;
    width:20px;
    text-align:left
      
    }
  
  
  .maincard {
    background-color: white;
    padding: 16px;
    display: flex;
    border-radius: 12px;
    margin: 16px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
    justify-content:space-between;
  
    &__txt {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
    &__title {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-family: robotobold, 'Times New Roman', Times, serif;
    }
  
    &__description {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
    &__price {
      font-weight: bold;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-left:70px;
      padding-right:30px;
      font-family:robotobold, 'Times New Roman', Times, serif;
    }
    @media screen and(max-width:1024px) {
        .maincard{
            &__price{
                position:relative;
                left:28%;
            }
        }
    }
  
    &__checked{
      background-color: #99e2d0;
      margin: -16px -96px -16px 16px;
      width: 75px;
      display:flex;
      align-items:center;
      justify-content:center;
      transition-duration: 0.5s;
    }
  
    
  
    &__Icon {
    height: 25.6px;
    width: 25.6px;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(0deg);
    transition-duration: 0.5s;
    }
  
  
    &__icon {
      color:#99e2d0;
      transition: transform 500ms;
      transform:rotate(210deg);
    }
  }  
}

.maincard:hover .maincard__checked{
    margin-right:-17px;
} 
.maincard:hover .maincard__Icon{
    transform:rotate(150deg);
}


@keyframes itemAppear {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
}
@media screen and (max-width:1024px){
    .main{
        &__all{
            display:flex;
            flex-direction:column;
        }
    }
}

.btn{
    @include button;
    text-align:center;
    height:30px;
}

.delay-1{
    animation-delay: .4s;
}

.delay-2{
    animation-delay: .8s
}

.delay-3{
    animation-delay: 1.6s;
}


.btn:hover{
    box-shadow: 10px 0px 15px 5px rgb(255 121 218 / 50%), 0px 10px 15px 5px rgb(147 86 220 / 50%);
    border: rgba(255, 255, 255, 0.5 ) 1.6px solid;
}







