@keyframes appear {
    0% {
      transform: scale(0) translateY(800px);
      

    }
    100% {
      transform: scale(1) translateY(0);

    }
}

@keyframes spin{
  0%{
      transform:rotate(-270deg)
  }
  100%{
      transform:rotate(0deg)
  }
}



/* ALL rules about load spinner : style, position, animation, media querry*/
.container{
  position:fixed;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  height:100vh;
  opacity:0.9;
  z-index:3;
  background-color:white;
  top:0;
  animation:copperfield 5000ms ease-in, opticopperfield 1500ms ease-in-out;
  animation-fill-mode: forwards;
}

.container .ring{
  position:relative;
  width:150px;
  height:150px;
  border:4px solid transparent;
  border-radius:50%;
  margin:-30px;
  border-top:4px #9356DC solid;
  animation: animate .6s linear infinite;
  animation-duration:4s;
  top:40%;
  animation-fill-mode: both;
}

@keyframes animate{
  0%{
      transform:rotate(0deg);
  }
  100%{
      transform:rotate(360deg);
  }

}
@keyframes animate2{
  0%{
      transform:rotate(360deg);
  }
  100%{
      transform:rotate(0deg);
  }

}

.container .ring:nth-child(2):before{
  content: '';
  position:absolute;
  width:15px;
  height:15px;
  background:#99E2D0;
  top:12px;
  left:12px;
  border-radius:50%;
  box-shadow: 0 0 0 5px #99E2D033,
              0 0 0 10px #99E2D022,
              0 0 0 15px #99E2D011,
              0 0 30px #99E2D0,
              0 0 50px #99E2D0; 
}

.container .ring:nth-child(3):before{
  content: '';
  position:absolute;
  width:15px;
  height:15px;
  background:#FF79DA;
  top:12px;
  left:12px;
  border-radius:50%;
  box-shadow: 0 0 0 5px #FF79DA33,
              0 0 0 10px #FF79DA22,
              0 0 0 15px #FF79DA11,
              0 0 30px #FF79DA,
              0 0 50px #FF79DA; 
            }

.container .ring:nth-child(2){
  animation:animate2 .4s linear infinite;
  animation-duration:4s
}

.container .ring:nth-child(3){
  position:absolute;
  top:-66.66px;
  animation:animate2 .4s linear infinite;
  animation-duration:3s;
  animation-delay:-1s;
  border-top:solid transparent 4px;
  border-left: 4px solid #e41cf8;
  top:30%;
  
}

.container .ring:before{
  content: '';
  position:absolute;
  width:15px;
  height:15px;
  background:#9356DC;
  top:12px;
  right:12px;
  border-radius:50%;
  box-shadow: 0 0 0 5px #9356DC33,
              0 0 0 10px #9356DC22,
              0 0 0 15px #9356DC11,
              0 0 30px #9356DC,
              0 0 50px #9356DC;   
}

.container .ring:nth-child(2){
  border-top: 4px solid transparent;
  border-left:4px solid #99E2D0;
  animation-delay:-1s;
}

@keyframes copperfield{
  0%{
    transform:scale(1);
  }
  100%{
    transform:scale(0);
  }
}

@keyframes opticopperfield{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}




