@font-face {
    font-family: roboto ;
    src: url(../ressources/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotobold ;
    src: url(../ressources/font/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: title ;
    src: url(../ressources/font/Shrikhand-Regular.ttf);
}